In [26]:
import requests
import numpy as np
import pandas as pd

In [55]:
endpoint = "http://api.marketstack.com/v1/intraday"
api_key = "367c96943055891c4c0e63196e9f368d"
# symbols = "TM,8058.T,HMC,1JP.F,NPEXY,ITOCY,NSANY,SFTBY,HTHIY,JXHLY,SNE,AONNY,PCRFY,MARUY,DCNSF,MITSY,SVNDY,TYHOF,\
# MUFG,TOELY,NISTF,SMFG,MSADY,TKOMY,DNZOY,SOMMY,KDDIY,MIELY,DWAHY,MHVYF,ASEKY,CAJ,FJTSY,MFG,MTLHY,IDKOY,JFEEF,SZKMY,\
# TOSBF,BRDCY,NHOLF,SSUMY,MZDAY,KAEPY,MAHLY,SMTOF,FUJHY,CHUEF,EJPRY,NEC1.F"
exchange = "PINC" # or TYO


# symbols retreived 
symbols = ",".join(['HMC', 'MUFG', 'SNE', 'TM', 'SMFG', 'CAJ', 'MFG', 'TYHOF', 'CHUEF',
       'TOELY', 'HTHIY', 'MARUY', 'PCRFY', 'SFTBY', 'SMTOF'])
symbols

'HMC,MUFG,SNE,TM,SMFG,CAJ,MFG,TYHOF,CHUEF,TOELY,HTHIY,MARUY,PCRFY,SFTBY,SMTOF'

In [50]:
start_date_1 = "2020-10-20"
end_date_1 = "2020-12-01"

params_1 = {
    "access_key": api_key,
    "symbols": symbols,
    #"interval": "3hour",
    #"exchange": exchange,
    "date_from": start_date_1,
    "date_to": end_date_1,
    "limit": 1000 # maximum allowed
}
response_1 = requests.get(f"{endpoint}", params_1).json()

In [58]:
df_1 = pd.DataFrame(response_1["data"])
df_1.iloc[900:]

,open,high,low,last,close,volume,date,symbol,exchange
900,24.555,24.560,24.535,NaN,24.545,NaN,2020-10-22T20:00:00+0000,HMC,IEXG
901,2.500,2.500,2.475,NaN,2.490,NaN,2020-10-22T20:00:00+0000,MFG,IEXG
902,4.055,4.055,4.050,NaN,4.055,NaN,2020-10-22T20:00:00+0000,MUFG,IEXG
903,5.685,5.685,5.675,NaN,5.685,NaN,2020-10-22T20:00:00+0000,SMFG,IEXG
904,74.520,74.520,74.390,NaN,74.410,NaN,2020-10-22T20:00:00+0000,SNE,IEXG
...,...,...,...,...,...,...,...,...,...
995,24.550,24.560,24.485,NaN,24.495,NaN,2020-10-20T23:00:00+0000,HMC,IEXG
996,2.460,2.460,2.455,NaN,2.455,NaN,2020-10-20T23:00:00+0000,MFG,IEXG
997,4.005,4.005,3.990,NaN,3.995,NaN,2020-10-20T23:00:00+0000,MUFG,IEXG
998,5.620,5.625,5.595,NaN,5.605,NaN,2020-10-20T23:00:00+0000,SMFG,IEXG
999,75.670,75.750,75.450,NaN,75.500,NaN,2020-10-20T23:00:00+0000,SNE,IEXG

In [59]:
end_date_2 = "2020-10-19"

params_2 = {
    "access_key": api_key,
    "symbols": symbols,
    #"interval": "3hour",
    #"exchange": exchange,
    "date_to": end_date_2,
    "limit": 1000
}

response_2 = requests.get(f"{endpoint}", params_2).json()
df_2 = pd.DataFrame(response_2["data"])

In [61]:
end_date_3 = "2020-08-18"
params_3 = {
    "access_key": api_key,
    "symbols": symbols,
    #"interval": "3hour",
    #"exchange": exchange,
    "date_to": end_date_3,
    "limit": 1000
}


response_3 = requests.get(f"{endpoint}", params_3).json()
df_3 = pd.DataFrame(response_3["data"])

In [63]:
end_date_4 = "2020-06-12"
params_4 = {
    "access_key": api_key,
    "symbols": symbols,
    #"interval": "3hour",
    #"exchange": exchange,
    "date_to": end_date_4,
    "limit": 1000
}


response_4 = requests.get(f"{endpoint}", params_4).json()
df_4 = pd.DataFrame(response_4["data"])

In [65]:
end_date_5 = "2020-03-17"
params_5 = {
    "access_key": api_key,
    "symbols": symbols,
    #"interval": "3hour",
    #"exchange": exchange,
    "date_to": end_date_5,
    "limit": 1000
}


response_5 = requests.get(f"{endpoint}", params_5).json()
df_5 = pd.DataFrame(response_5["data"])

In [67]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5]).drop_duplicates().reset_index(drop=True)

In [86]:
df.to_csv("datasets_stocks/intraday_jpn_iexg.csv")

In [85]:
df_4[(df_4.symbol == "MUFG") & (df_4.date.str.contains("2020-03-20"))] #sanity check

,open,high,low,last,close,volume,date,symbol,exchange
950,3.455,3.480,3.455,NaN,3.465,NaN,2020-03-20T23:00:00+0000,MUFG,IEXG
952,3.525,3.525,3.515,NaN,3.525,NaN,2020-03-20T22:00:00+0000,MUFG,IEXG
954,3.530,3.555,3.530,NaN,3.545,NaN,2020-03-20T21:00:00+0000,MUFG,IEXG
956,3.505,3.505,3.495,NaN,3.495,NaN,2020-03-20T20:00:00+0000,MUFG,IEXG
958,3.535,3.535,3.520,NaN,3.530,NaN,2020-03-20T19:00:00+0000,MUFG,IEXG
960,3.490,3.515,3.490,NaN,3.515,NaN,2020-03-20T18:00:00+0000,MUFG,IEXG
962,3.420,3.420,3.420,NaN,3.420,NaN,2020-03-20T00:00:00+0000,MUFG,IEXG

In [82]:
df_5[(df_5.symbol=="MUFG") & (df_5.date.str.contains("2020-03-17"))]

,open,high,low,last,close,volume,date,symbol,exchange
1,3.5,3.5,3.5,None,3.5,None,2020-03-17T00:00:00+0000,MUFG,IEXG